# Introduction to pandas Dataframe

In [1]:
import pandas as pd
df=pd.read_csv('weather_data.csv')
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [2]:
weather_data=[(1/1/2017, 32 , 4, 'rain' ),
              (2/1/2017, 35 , 4, 'sunny' ),
              (3/1/2017, 29 , 5, 'rain' ),
              (4/1/2017, 10 , 4, 'snow' ),
              (5/1/2017, 2 , 3, 'rain' )]
df=pd.DataFrame(weather_data,columns=('day' ,'temp', 'windspeed' , 'event'))
df

        day  temp  windspeed  event
0  0.000496    32          4   rain
1  0.000992    35          4  sunny
2  0.001487    29          5   rain
3  0.001983    10          4   snow
4  0.002479     2          3   rain

In [3]:
df.shape

(5, 4)

In [4]:
df.columns

Index(['day', 'temp', 'windspeed', 'event'], dtype='object')

In [5]:
df.event

0     rain
1    sunny
2     rain
3     snow
4     rain
Name: event, dtype: object

In [6]:
df[:2]

        day  temp  windspeed  event
0  0.000496    32          4   rain
1  0.000992    35          4  sunny

In [7]:
df[['event','windspeed']]

   event  windspeed
0   rain          4
1  sunny          4
2   rain          5
3   snow          4
4   rain          3

In [8]:
df['temp']

0    32
1    35
2    29
3    10
4     2
Name: temp, dtype: int64

In [9]:
df['windspeed']

0    4
1    4
2    5
3    4
4    3
Name: windspeed, dtype: int64

In [10]:
df['temp'].max()

35

In [11]:
df['temp'].min()

2

In [12]:
df['temp'].std()

14.67310464761974

In [13]:
df.describe()

            day       temp  windspeed
count  5.000000   5.000000   5.000000
mean   0.001487  21.600000   4.000000
std    0.000784  14.673105   0.707107
min    0.000496   2.000000   3.000000
25%    0.000992  10.000000   4.000000
50%    0.001487  29.000000   4.000000
75%    0.001983  32.000000   4.000000
max    0.002479  35.000000   5.000000

In [14]:
df[df.temp == df.temp.max()] #max tempreture wali row print karega!!!

        day  temp  windspeed  event
1  0.000992    35          4  sunny

In [15]:
df[df.temp == df.temp.min()]

        day  temp  windspeed event
4  0.002479     2          3  rain

In [16]:
df.day[df.temp == df.temp.min()]

4    0.002479
Name: day, dtype: float64

In [17]:
df=pd.read_excel('weather_data.xlsx')
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny