In [1]:
import numpy as np
import pandas as pd

In [4]:
df =pd.read_csv('complete_student_analysis.csv')
df

,student_id,math_original,science_original,english_original,attendance,math_int8,attendance_float32,weighted_total,math_mean,science_mean,...,grade,bonus_points,final_score,math_original_zscore,science_original_zscore,english_original_zscore,math_original_percentile,science_original_percentile,english_original_percentile,overall_performance
0,1001,82.45,76.70,65.00,71,82,71,76.08,73.4422,79.4485,...,C,0,76.08,0.661,-0.238,-1.706,35.70,60.20,65.00,Needs Improvement
1,1002,72.93,68.88,65.30,90,72,90,69.60,73.4422,79.4485,...,D,0,69.60,-0.038,-0.917,-1.672,45.19,60.37,65.30,Needs Improvement
2,1003,84.72,64.79,65.61,99,84,99,72.97,73.4422,79.4485,...,C,0,72.97,0.828,-1.272,-1.637,45.60,60.66,65.61,Good
3,1004,97.85,73.50,65.91,70,97,70,81.34,73.4422,79.4485,...,B,0,81.34,1.792,-0.516,-1.603,46.30,61.48,65.91,Needs Improvement
4,1005,71.49,97.72,66.21,97,71,97,79.35,73.4422,79.4485,...,C,0,79.35,-0.143,1.585,-1.569,48.55,61.63,66.21,Good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,1096,53.05,69.76,93.79,92,53,92,69.08,73.4422,79.4485,...,D,0,69.08,-1.497,-0.841,1.569,97.85,97.72,93.79,Needs Improvement
96,1097,79.44,98.92,94.09,91,79,91,89.92,73.4422,79.4485,...,B,5,94.92,0.440,1.689,1.603,98.07,98.50,94.09,Excellent
97,1098,78.92,75.72,94.39,88,78,88,81.67,73.4422,79.4485,...,B,0,81.67,0.402,-0.323,1.637,98.47,98.87,94.39,Good
98,1099,75.08,95.68,94.70,94,75,94,87.20,73.4422,79.4485,...,B,5,92.20,0.120,1.408,1.672,98.69,98.92,94.70,Excellent
99,1100,71.48,85.25,95.00,95,71,95,82.18,73.4422,79.4485,...,B,0,82.18,-0.144,0.503,1.706,102.78,99.43,95.00,Good

In [5]:
df.head() #starting ke 5 value dega

,student_id,math_original,science_original,english_original,attendance,math_int8,attendance_float32,weighted_total,math_mean,science_mean,...,grade,bonus_points,final_score,math_original_zscore,science_original_zscore,english_original_zscore,math_original_percentile,science_original_percentile,english_original_percentile,overall_performance
0,1001,82.45,76.70,65.00,71,82,71,76.08,73.4422,79.4485,...,C,0,76.08,0.661,-0.238,-1.706,35.70,60.20,65.00,Needs Improvement
1,1002,72.93,68.88,65.30,90,72,90,69.60,73.4422,79.4485,...,D,0,69.60,-0.038,-0.917,-1.672,45.19,60.37,65.30,Needs Improvement
2,1003,84.72,64.79,65.61,99,84,99,72.97,73.4422,79.4485,...,C,0,72.97,0.828,-1.272,-1.637,45.60,60.66,65.61,Good
3,1004,97.85,73.50,65.91,70,97,70,81.34,73.4422,79.4485,...,B,0,81.34,1.792,-0.516,-1.603,46.30,61.48,65.91,Needs Improvement
4,1005,71.49,97.72,66.21,97,71,97,79.35,73.4422,79.4485,...,C,0,79.35,-0.143,1.585,-1.569,48.55,61.63,66.21,Good

In [6]:
df.tail() #last ke 5 values dega

,student_id,math_original,science_original,english_original,attendance,math_int8,attendance_float32,weighted_total,math_mean,science_mean,...,grade,bonus_points,final_score,math_original_zscore,science_original_zscore,english_original_zscore,math_original_percentile,science_original_percentile,english_original_percentile,overall_performance
95,1096,53.05,69.76,93.79,92,53,92,69.08,73.4422,79.4485,...,D,0,69.08,-1.497,-0.841,1.569,97.85,97.72,93.79,Needs Improvement
96,1097,79.44,98.92,94.09,91,79,91,89.92,73.4422,79.4485,...,B,5,94.92,0.440,1.689,1.603,98.07,98.50,94.09,Excellent
97,1098,78.92,75.72,94.39,88,78,88,81.67,73.4422,79.4485,...,B,0,81.67,0.402,-0.323,1.637,98.47,98.87,94.39,Good
98,1099,75.08,95.68,94.70,94,75,94,87.20,73.4422,79.4485,...,B,5,92.20,0.120,1.408,1.672,98.69,98.92,94.70,Excellent
99,1100,71.48,85.25,95.00,95,71,95,82.18,73.4422,79.4485,...,B,0,82.18,-0.144,0.503,1.706,102.78,99.43,95.00,Good

In [7]:
math_score_a=df['math_original'].to_numpy()
print(math_score_a)

[ 82.45  72.93  84.72  97.85  71.49  71.49  98.69  86.51  67.96  83.14
  68.05  68.01  78.63  46.3   49.13  66.57  59.81  79.71  61.38  53.82
  96.98  71.61  76.01  53.63  66.83  76.66  57.74  80.64  65.99  70.62
  65.97 102.78  74.8   59.13  87.34  56.69  78.13  45.6   55.08  77.95
  86.08  77.57  73.27  70.48  52.82  64.2   68.09  90.86  80.15  48.55
  79.86  69.22  64.85  84.18  90.46  88.97  62.41  70.36  79.97  89.63
  67.81  72.22  58.4   57.06  87.19  95.34  73.92  90.05  80.42  65.32
  80.42  98.07  74.46  98.47  35.7   87.33  76.31  70.51  76.38  45.19
  71.7   80.36  97.17  67.23  62.87  67.47  88.73  79.93  67.05  82.7
  76.46  89.53  64.47  70.09  69.12  53.05  79.44  78.92  75.08  71.48]

In [8]:
a=df['science_original'].max()
b = df['science_original'].min()
print(np.linspace(a,b,6))

[99.43  91.584 83.738 75.892 68.046 60.2  ]

In [9]:
num_students = len(df)
attendance_system = np.zeros(num_students, dtype = int)
print("Initialized Digital Attendance System (First 10 entries)")
print(attendance_system[:10])

Initialized Digital Attendance System (First 10 entries)
[0 0 0 0 0 0 0 0 0 0]

In [10]:
print(f"Original 'grade' dtype :{df['grade'].dtype}")
print("Before optimization memory usage")
print(df['grade'].memory_usage(deep=True)) #there are two types of category one is 'object' and 2nd is 'category'....obhject string me store karta hai isliye jyada space leta hai and category int me store karti hai isliye kam storage rahta hai
df['grade']=df['grade'].astype('category')
print(f"optimized 'grade' dtype: {df['grade'].dtype}")  #deep = true----> bina uske sirf ram check karega numpy....and deep = true me 
print("Memory usage after optimization")
print(df['grade'].memory_usage(deep=True))

Original 'grade' dtype :object
Before optimization memory usage
5132
optimized 'grade' dtype: category
Memory usage after optimization
604

In [11]:
math_score_array=df['math_original'].to_numpy()
print(math_score_array.dtype)

float64

In [12]:
print(f"Original 'math_original' dtype:{df['math_original'].dtype}")
df['math_int8_fixed'] = df['math_original'].astype(np.int8)
print(f"'math_int8_fixed' dtype:{df['math_int8_fixed'].dtype}, "f"Memory: {df['math_int8_fixed'].memory_usage(deep=True)}")
df['attendance_uint8'] = df['attendance'].astype(np.uint8)
print(f"'attendance_uint8' dtype: {df['attendance_uint8'].dtype}, "f"Memory: {df['attendance_uint8'].memory_usage(deep=True)}")

Original 'math_original' dtype:float64
'math_int8_fixed' dtype:int8, Memory: 232
'attendance_uint8' dtype: uint8, Memory: 232

In [13]:
print(f"Original dtype: {df['attendance'].dtype},")
df['attendance_uint8']=df['attendance'].astype(np.uint8)
print(f"attendance_uint8'dtype:{df['attendance_uint8'].dtype},")

Original dtype: int64,
attendance_uint8'dtype:uint8,

# 8. Compare Math scores between different student groups

In [14]:
math_scores_by_grade = df.groupby('grade')['math_original'].mean()
print("Average Math Score by Grades")
print(math_scores_by_grade)

Average Math Score by Grades
grade
A    95.667500
B    83.802424
C    70.445532
D    55.320625
Name: math_original, dtype: float64

C:\Users\vansh\AppData\Local\Temp\ipykernel_11064\3068837967.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  math_scores_by_grade = df.groupby('grade')['math_original'].mean()

In [16]:
math_weight =0.4
science_weight=0.3
english_weight=0.3

df['coustom_weighted_score'] = (df['math_original']* math_weight + 
                               df['science_original']* science_weight +
                               df['english_original']* english_weight)
print("First 5 coustom weighted scores")
print(df[['math_original', 'science_original', 'english_original', 'coustom_weighted_score']].head())

First 5 coustom weighted scores
   math_original  science_original  english_original  coustom_weighted_score
0          82.45             76.70             65.00                  75.490
1          72.93             68.88             65.30                  69.426
2          84.72             64.79             65.61                  73.008
3          97.85             73.50             65.91                  80.963
4          71.49             97.72             66.21                  77.775